<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MakeMIT 2017 | February 25, 2017</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:400,700" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../lib/semantic.min.css">
    <script type="text/javascript" src="../lib/semantic.min.js"></script>

    <!-- for Facebook -->
    <meta property="og:title" content="MakeMIT 2017"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="img/logo-white@2x.png"/>
    <meta property="og:url" content="https://makemit.org"/>
    <meta property="og:description" content="A hardware hackathon promoting innovation that is geared towards those who are excited and passionate about designing and building. February 25, 2017 @ MIT."/>

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@TeamMakeMIT">
    <meta name="twitter:title" content="MakeMIT 2017">
    <meta name="twitter:description" content="A hardware hackathon promoting innovation that is geared towards those who are excited and passionate about designing and building. February 25, 2017 @ MIT.">
    <meta name="twitter:image:src" content="img/logo-black@2x.png">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <script type="text/javascript" src="../assets/js/main.js"></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-128.png" sizes="128x128" />

    <meta name="msapplication-TileImage" content="/assets/img/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/img/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/img/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/img/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/img/favicon/mstile-310x310.png" />

</head>

<body>
<div class="nav nav-abs" style="display: none;">
    <a class="mi pr" href="#about">ABOUT</a>
    <a class="mi pr" href="#registration">REGISTRATION</a>
    <a class="mi pr" href="#faq">FAQ</a>
    <a class="mi" href="#sponsors">SPONSORS</a>
</div>
<div id="gears">
    <img id="cog-left" src="/assets/img/nsg.png" alt="Gear"/>
    <img id="cog-right" src="/assets/img/nsg.png" alt="Gear"/>
</div>
<div id="tracks">
    <div id="left-track"></div>
    <div id="left-track-shadow"></div>
    <div id="right-track"></div>
    <div id="right-track-shadow"></div>
</div>
<section id="home" class="homeSlide">
    <div class="bcg">
        <div class="hsContainer">
            <div id="logo-na" style="text-align: center;">
                <div class="logo-vid-cont">
                    <video id="logo-vid" autoplay>
                        <source src="/assets/img/logo-animated@2x.webm" type="video/webm">
                        <source src="/assets/img/logo-animated@2x.mp4" type="video/mp4">
                        <img src="/assets/img/logo-white@2x.png" style="width: 100%; height: 100%"  alt="MakeMIT Logo">
                    </video>
                </div>
            </div>
            <div class="hsContent">
                <h1>Make<span class="title-accent">MIT</span>
                </h1>
                <h2>February 25, 2017</h2>
                <br />
                <br />
                <br />
                <a class="register-btn" href="https://my.makemit.org/">
                    Register Here!
                </a> &nbsp; &nbsp;
                <a class="register-btn" href="https://makemit.org/2016/review">
                    2016 Recap
                </a>
                <br /><br /><br /><br /><br />

                <a class="volunteer">Want to Volunteer?</a><br  />
                <div id="volunteer-form" style="opacity: 0;">
                  <br />
                  <input class="volunteer-box" placeholder="What's your email?" />
                  <a id="volunteer-submit" class="register-btn" style="padding: 10px; font-size: 10pt; cursor: pointer;">
                      Submit
                  </a>
                </div>
                <div id="volunteer-thanks" style="display: none;">
                  <br />
                  <span class="volunteer-thanks">Thanks!</span>
                </div>
            </div>

        </div>
    </div>
</section>
<script>
    $('.ui.accordion')
        .accordion()
    ;
</script>
<section id="about">
    <div class="bcg">
        <div class="hsContainer">
            <div class="hsContent">
                <div class="title">
                    <h1>About MakeMIT</h1>
                </div>
            </div>
            <div class="white">
                <div class="content">
                    <p>
                        MakeMIT is the world’s premier hardware hackathon, with over <span style="color:#f96800">250 hackers</span> and <span style="color:#f96800">3524 man-hours hacking hardware</span>.
                        Our fast-paced structure promotes an innovative creative atmosphere, geared towards those who are excited and passionate about designing and building.
                        Come meet other enthusiastic hackers, work with cutting edge technology, and turn your crazy ideas into reality!
                        <br><br>This year, MakeMIT will be happening on <span style="color:#f96800">February 25th, 2017</span> at the MIT Student Center, with a full week dedicated to tech talks and demos leading up to the main event called <span style="color:#f96800">Make Week.</span>
                        <br><br>
                        <b>
                            Check out <a style="color: #f96800;" href="https://makemit2016.devpost.com/submissions" target="_blank">past projects</a> and a <a style="color: #f96800;" href="../2016/review" target="_blank">recap</a> of last year's event!
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="registration">
    <div class="bcg">
        <div class="hsContainer">
            <div class="hsContent">
                <div class="title">
                    <h1 class="rt">REGISTER</h1>
                </div>
                <div class="white">
                    <div class="content">
                        <p style="font-size: 22px;">
                            Registration for MakeMIT is open now! Click the button below
                            and keep an eye on our <a href="https://www.facebook.com/makemit">Facebook</a> and <a href="https://twitter.com/TeamMakeMIT">Twitter</a> for updates on
                            everything MakeMIT.
                        </p>
                    </div>
                    <div class="portal-btn-pad">
                        <a class="register-btn" href="https://my.makemit.org/">
                            Register Here!
                        </a>
                    </div>
                </div>
                <!--<div class="ctc">-->
                <!--  Unfortunately, registration for MakeMIT 2017 has not opened yet. Keep an eye on our <a href="#">Facebook</a> and <a href="#">Twitter</a> for updates on everything MakeMIT.-->
                <!--</div>-->
            </div>
        </div>
    </div>
</section>
<section id="faq">
    <div class="bcg">
        <div class="hsContainer">
            <div class="hsContent">
                <h1 class="faqt">Frequently Asked Questions</h1>
                <div class="ui three column stackable page grid">
                    <div class="row">
                        <div class="column">
                            <h2>How does it work?</h2>
                            <p>Over a 19 hour period, you’ll work in a team of 3-5 hackers to make anything your heart desires! We’ll provide you with a bunch of prototyping resources and lots of food to keep you fueled.  At the end of the night, we’ll have a judging period to choose the winners of Make 2017.
                            </p>
                        </div>
                        <div class="column">
                            <h2>Who can attend?</h2>
                            <p>All undergraduate students are welcome.  While we aren’t accepting graduate students as hackers, we would love to have graduate students as event volunteers! Email us to get involved.
                            </p>
                        </div>
                        <div class="column">
                            <h2>I’m a beginner. Can I still apply?</h2>
                            <p>Absolutely! We encourage makers of all levels to come build and learn! We’ve got tons of mentors and we really focus on catering to newcomers’ needs by providing tutorials and online resources.  We are extremely beginner friendly!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h2>How much does it cost?</h2>
                            <p>This event is completely free! We’ll provide food and drinks, and of course a plethora of materials and tools to hack with.  Everything’s on us!
                            </p>
                        </div>
                        <div class="column">
                            <h2>Are you providing travel reimbursements?</h2>
                            <p>We have a limited number of travel stipends available for teams facing difficult circumstances. If you believe your team falls under this category, send us ONE <a href="mailto:team@makemit.org">email</a> explaining your situation and why your team should be considered.
                            </p>
                        </div>
                        <div class="column">
                            <h2>How do I register?</h2>
                            <p>Registration will open soon. We’re holding a registration lottery to select the participants this year. And don’t worry about submitting early, admission is not on a rolling-basis. If you and your team are lotteried in, you’ll have one week to accept your spot.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h2>What hardware will be available?</h2>
                            <p>There’ll be a fleet of 3D printers, laser cutters, Arduinos, Raspberry Pi’s, and much more. The 2017 materials list will come out soon. If there’s something you want to see, feel free to send us an email and we’ll see what we can do!
                            </p>
                        </div>
                        <div class="column">
                            <h2>What should I bring?</h2>
                            <p>You'll need your student ID to check-in and we recommend you bring a laptop for hacking. If you’d like to bring something off-the-shelf that we are not providing, make sure to shoot us an  <a href="mailto:team@makemit.org">email</a>!
                            </p>
                        </div>
                        <div class="column">
                            <h2>What's the expo?</h2>
                            <p>Right after the hacking period ends, we will host a public expo where teams can show off their hacks to friends, family, professors, corporate sponsors, and anyone else in attendance! Everyone not participating is encouraged to stop by to enjoy some snacks and check out all the cool projects.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h2>What size should teams be?</h2>
                            <p>Teams should be groups of 3-5 people.  We encourage you to submit your application after you’ve finalized your team.  If you already applied but wish to change your team, just contact us.  While we recommend signing up as a team, also feel free to register alone! There will be a Facebook group and time before the event to facilitate team formation for individuals!
                            </p>
                        </div>
                        <div class="column">
                            <h2>What should I make?</h2>
                            <p>Whatever you want! You can come with an idea in mind, but we ask that you do not start building or coding anything before the event actually starts.  Whatever you choose to make, do your best to sell your ideas to the judges!
                            </p>
                        </div>
                        <div class="column">
                            <h2>How does judging work?</h2>
                            <p>Judges will base their ratings of the projects on three criteria: functionality, real-world potential, and just plain awesomeness.  10 teams will be invited to present at the end of the expo, and 3 final winning teams will be selected from this pool!
                            </p>
                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--<div style="height: 10vw;">-->
                    <!--    <h2>I have a question not listed. Who do I ask?</h2>-->
                    <!--    <div>Get in touch with us through <a href="https://www.facebook.com/makemit">facebook</a>,-->
                    <!--      <a href="https://twitter.com/TeamMakeMIT">twitter</a>, or <a href="mailto:team@makemit.org">email</a>!-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="otherq">OTHER QUESTIONS?</div>
                <div class="otherqt">
                    Have a question that was not listed? Don't hesitate to send us an <a href="mailto:team@makemit.org">email</a> or get in touch through <a href="https://www.facebook.com/makemit/" target="_blank">facebook</a>. We'd love to help answer any of your questions.
                </div>

            </div>
        </div>
    </div>
</section>
<section id="sponsors">
    <div class="bcg">
        <div class="hsContainer">
            <div class="hsContent">
                <h1>2017 Sponsors</h1>
                <div id="sponsors-grid" class="ui one column grid">
                    <div class="column">

                        <br><br><br>

                        <div class="row">
                            <div id="platinum" class="ui one column center aligned grid">
                                <div class="row">
                                    <div class="column">
                                        <a target="_blank" href="https://www.clearmotion.com/"><img src="/assets/img/sponsors/PLATINUM-clearmotion.png" alt="ClearMotion"/></a>
                                        <br>
                                        <div class="caption">ClearMotion is a venture-backed Boston area startup spun out of MIT in 2009. ClearMotion is the world’s first ultra-active chassis system.  With powerful, fast-acting software and actuators at each wheel, ClearMotion replaces the car’s shock absorbers and delivers an experience unlike anything you’ve witnessed. ClearMotion is a digital ride system that virtually eliminates the perception of road bumps while enabling unprecedented performance handling. The software and mechatronics technology has broad application across motion control industries including aviation, transportation, industrial manufacturing, and robotics.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br><br><br>

                        <div class="row">
                            <div id="gold" class="ui two column center aligned grid">
                                <div class="column">
                                    <a target="_blank" href="http://disney.com/"><img src="/assets/img/sponsors/GOLD-disney.png" alt="Disney"/></a>
                                    <br>
                                    <div class="caption">At Disney, careers in technology are built on unleashing fun and creativity, capturing joy and challenge, delivering encouragement and disruption, and embracing exploration and collaboration. We believe that the real power of technology is in its ability to transform – whether it’s the direct impact you have on millions of guest and consumer experiences every day, the breakthroughs you make for our businesses around the world, or the adventure of designing your career.  It is a career for those who believe in wonder, and how to make the impossible possible.
                                    </div>
                                </div>
                                <div class="column">
                                    <a target="_blank" href="http://www.oracle.com/college"><img src="/assets/img/sponsors/GOLD-oracle.png" alt="Oracle"/></a>
                                    <br>
                                    <div class="caption">Explore full-time roles and summer internships at Oracle! Nothing beats teaming up with the only company that delivers a complete, integrated, and standards-based suite of services at every layer of the Cloud. From real-time projects to tackling the industry's toughest challenges, you could be sitting in the driver's seat and changing the way the world is doing business.

                                    Oracle has hundreds of software and hardware development projects in virtually every technical area. Whatever your passion, you can follow it at Oracle.
                                    </div>
                                </div>
                                <br><br>
                                <div class="column">
                                    <a target="_blank" href="https://www.microsoft.com/en-us/"><img src="/assets/img/sponsors/GOLD-microsoft.png" alt="Microsoft"/></a>
                                    <br>
                                    <div class="caption">Microsoft’s mission is to empower every person and every organization on the planet to achieve more. We build best-in-class platforms and productivity services for a mobile-first, cloud-first world. Our ambitions are to reinvent productivity and business processes, build the intelligent cloud platform, and create more personal computing.
                                    </div>
                                </div>
                                <div class="column">
                                    <a target="_blank" href="https://markforged.com/"><img src="/assets/img/sponsors/GOLD-markforged.jpg" alt="MarkForged"/></a>
                                    <br>
                                    <div class="caption">MarkForged’s mission is to bring high strength 3D printing to everyday engineering. Offering the world’s only 3D printing systems capable of automatically reinforcing engineering plastics to aluminum levels of performance and beyond, MarkForged enables every business to easily manufacture parts with structural strength right on the desktop. The Mark One Composite 3D Printer™ empowers professional users to affordably create workhorse 3D parts that solve real problems, as well as realize reinforced structures never before possible.  MarkForged technologies are delivered with thoughtful, powerful software designed for collaboration, sharing, and scaling.
                                    </div>
                                </div>
                                <br><br>
                                <div class="column">
                                    <a target="_blank" href="https://careers.slb.com/softwareengineer.aspx"><img src="/assets/img/sponsors/GOLD-schlumberger.jpg" alt="Schlumberger"/></a>
                                    <br>
                                    <div class="caption">Schlumberger employs more than 95,000 people representing over 140 nationalities and working in more than 85 countries. With 125 research and engineering facilities worldwide, we place strong emphasis on developing innovative technology that adds value for our customers.

                                    Schlumberger Software Technology is responsible for the company’s initiatives in digital technologies. As the oil and gas industry’s leading supplier of technology, integrated project management, and information solutions to customers worldwide, Schlumberger digital technology development and management initiatives play a key role in driving of the industry’s digital technology transformation.
                                    </div>
                                </div>
                                <div class="column">
                                    <a target="_blank" href="http://www.nvidia.com/page/home.html"><img src="/assets/img/sponsors/GOLD-nvidia.png" alt="Nvidia"/></a>
                                    <br>
                                    <div class="caption">NVIDIA is the AI computing company. Its invention of the GPU in 1999 sparked the growth of the PC gaming market, redefined modern computer graphics and revolutionized parallel computing. More recently, GPU deep learning ignited modern AI — the next era of computing — with the GPU acting as the brain of computers, robots and self-driving cars that can perceive and understand the world.
                                    </div>
                                </div>
                                <br><br>
                                <div class="column">
                                    <a target="_blank" href="https://nexpaq.com/"><img src="/assets/img/sponsors/GOLD-nexpaq.jpg" alt="Nexpaq"/></a>
                                    <br>
                                    <div class="caption">Nexpaq is the modular technology movement. nexpaq creates phone cases, power banks, and other modular devices to extend the hardware and software capabilities of existing devices. As a maker platform and IOT ecosystem, nexpaq allows tech businesses and individual developers to build their own nexpaq module and write apps for existing modules.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br><br><br>

                        <div class="row">
                            <div id="silver" class="ui one column center aligned grid">
                                <div class="row">
                                    <div class="column">
                                        <a target="_blank" href="https://developer.amazon.com/public/solutions/alexa"><img src="/assets/img/sponsors/SILVER-amazon.png" alt="Amazon"/></a>
                                        <a target="_blank" href="http://www.apple.com/"><img src="/assets/img/sponsors/GOLD-apple.png" alt="Apple"/></a>
                                        <a target="_blank" href="http://www.sherline.com/"><img src="/assets/img/sponsors/SILVER-sherline.png" alt="Sherline"/></a>
                                    </div>
                                    <div class="column">
                                        <a target="_blank" href="https://www.8020.net/"><img src="/assets/img/sponsors/SILVER-8020.png" alt="8020"/></a>
                                        <a target="_blank" href="http://wiiboox.com/"><img src="/assets/img/sponsors/SILVER-wiiboox.png" alt="Wiiboox"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br><br><br>

                        <div class="row">
                            <div id="bronze" class="ui one column center aligned grid">
                                <div class="row">
                                    <div class="column">
                                        <a target="_blank" href="https://www.ll.mit.edu/"><img src="/assets/img/sponsors/BRONZE-lincolnlabs.png" alt="Lincoln Labs"/></a>
                                        <a target="_blank" href="http://www.rxadvance.com/"><img src="/assets/img/sponsors/BRONZE-rxadvance.png" alt="RxAdvance"/></a>
                                        <a target="_blank" href="http://www.ti.com/"><img src="/assets/img/sponsors/BRONZE-ti.png" alt="TI"/></a>
                                    </div>
                                    <div class="column">
                                        <a target="_blank" href="http://us.coca-cola.com/home/"><img src="/assets/img/sponsors/BRONZE-coca-cola.png" alt="Coca-Cola"/></a>
                                        <a target="_blank" href="http://www.ptc.com/"><img src="/assets/img/sponsors/BRONZE-ptc.png" alt="PTC"/></a>
                                        <a target="_blank" href="http://www.mouser.com/"><img src="/assets/img/sponsors/BRONZE-mouser.png" alt="Mouser"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br><br><br>

                        <div class="row">
                            <div id="custom" class="ui one column center aligned grid">
                                <div class="row">
                                    <div class="column">
                                        <a target="_blank" href="http://www.irobot.com/"><img src="/assets/img/sponsors/CUSTOM-irobot.png" alt="iRobot"/></a>
                                        <a target="_blank" href="https://www.oculus.com/en-us/"><img src="/assets/img/sponsors/SILVER-oculus.png" alt="Oculus"/></a>
                                        <a target="_blank" href="https://www.adafruit.com"><img src="/assets/img/sponsors/CUSTOM-adafruit.png" alt="Adafruit"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" style="min-height: 100vh;">
    <div class="bcg">
        <div class="hsContainer">
            <div class="hsContent">
                <div style="padding-top: 5vw;" class="logo"><img width="150" src="/assets/img/logo-white.png" alt="MakeMIT Logo"/>
                </div>
                <h1 style="padding-top: 2vw;">Make<span id="accent">MIT 2017</span></h1>
                <div class="contact">
                    <a href="mailto:team@makemit.org"><i class="mail icon"></i></a><a href="https://www.facebook.com/makemit" class="social" target="_blank"><i class="ui icon facebook"></i></a><a href="https://twitter.com/TeamMakeMIT" class="social" target="_blank"><i class="ui icon twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    $(document).ready(function() {
// Tooltip only Text
        $('.masterTooltip').hover(function(){
            // Hover over code
            var title = $(this).attr('title');
            $(this).data('tipText', title).removeAttr('title');
            $('<p class="tooltip"></p>')
                .text(title)
                .appendTo('body')
                .fadeIn('slow');
        }, function() {
            // Hover out code
            $(this).attr('title', $(this).data('tipText'));
            $('.tooltip').fadeOut('fast');
        }).mousemove(function(e) {
            var mousex = e.pageX + 20; //Get X coordinates
            var mousey = e.pageY + 10; //Get Y coordinates
            $('.tooltip')
                .css({ top: mousey, left: mousex })
        });
    });
</script>
</body>
</html>
