<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MakeMIT 2018 | February 24, 2018</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/bb1e7742b6.js"></script>
    <link rel="stylesheet" href="../lib/semantic.min.css">
    <script src="../lib/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.js"></script>

    <!-- for Facebook -->
    <meta property="og:title" content="MakeMIT 2018"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="img/logo-white@2x.png"/>
    <meta property="og:url" content="https://makemit.org"/>
    <meta property="og:description" content="A hardware hackathon promoting innovation that is geared towards those who are excited and passionate about designing and building. February 24, 2018 @ MIT."/>

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@TeamMakeMIT">
    <meta name="twitter:title" content="MakeMIT 2018">
    <meta name="twitter:description" content="A hardware hackathon promoting innovation that is geared towards those who are excited and passionate about designing and building. February 24, 2018 @ MIT.">
    <meta name="twitter:image:src" content="img/logo-black@2x.png">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <script src="/assets/js/main.js"></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-128.png" sizes="128x128" />

    <meta name="msapplication-TileImage" content="/assets/img/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/img/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/img/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/img/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/img/favicon/mstile-310x310.png" />

</head>

<body>
    <div class="nav-bar">
        <div class="full-bar">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="row">
                        <div class="media-buttons">
                            <a href="#home" class="social"><img src="/assets/img/2018_make_logo_white.png" alt="MakeMIT"/></a>
                            <a href="https://twitter.com/teammakemit" class="social" target="_blank"><img src="/assets/img/twitter_logo_white.png" alt="Twitter"/></a>
                            <a href="https://www.facebook.com/makemit" class="social" target="_blank"><img src="/assets/img/facebook_logo_white.png" alt="Facebook"/></a>
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="row">
                        <div class="nav-buttons">
                            <a class="mi" href="#about">about</a>
                            <a class="mi" href="#schedule">day-of</a>
                            <a class="mi" href="#faq">faq</a>
                            <a class="mi" href="#sponsors">sponsors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="logos-only">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="row">
                        <div class="media-buttons">
                            <a href="https://www.facebook.com/makemit" class="social" target="_blank"><img src="/assets/img/2018_make_logo_white.png" alt="MakeMIT"/></a>
                            <a href="https://www.facebook.com/makemit" class="social" target="_blank"><img src="/assets/img/twitter_logo_white.png" alt="Twitter"/></a>
                            <a href="https://www.facebook.com/makemit" class="social" target="_blank"><img src="/assets/img/facebook_logo_white.png" alt="Facebook"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--<div id="gears">-->
<!--    <img id="cog-left" src="/assets/img/nsg.png" alt="Gear"/>-->
<!--    <img id="cog-right" src="/assets/img/nsg.png" alt="Gear"/>-->
<!--</div>-->
<!--<div id="tracks">-->
<!--    <div id="left-track"></div>-->
<!--    <div id="left-track-shadow"></div>-->
<!--    <div id="right-track"></div>-->
<!--    <div id="right-track-shadow"></div>-->
<!--</div>-->
<section id="home" class="homeSlide">
    <div class="bcg">
        <img class="lightning_left home_lightning_left" width="20%" src="/assets/img/home_lightning_left.png">
        <img class="lightning_left home_lightning_middle" width="25%" src="/assets/img/home_lightning_middle.png">
        <img class="lightning_right home_lightning_right" width="10%" src="/assets/img/home_lightning_right.png">

        <div class="hsContainer">
            <!--<div id="logo-na" style="text-align: center;">-->
            <!--    <div class="logo-vid-cont">-->
            <!--        <video id="logo-vid" autoplay>-->
            <!--            <source src="/assets/img/logo-animated@2x.webm" type="video/webm">-->
            <!--            <source src="/assets/img/logo-animated@2x.mp4" type="video/mp4">-->
            <!--            <img src="/assets/img/logo-white@2x.png" style="width: 100%; height: 100%"  alt="MakeMIT Logo">-->
            <!--        </video>-->
            <!--    </div>-->
            <!--</div>-->
            <div class="hsContent">
                <h1 class="title-make">Make<span class="title-mit">MIT</span>
                </h1>
                <h2>2.24.2018</h2>
                <br />
                <br />
                <br />
                <a class="apply-btn" href="https://my.makemit.org/">
                    APPLY NOW
                </a>
                <br />
                <br />
                <br />

                <div id="volunteer-form" style="display: none;">
                  <h2>Interested in Volunteering?</h2>
                  <br />
                  <input class="volunteer-box" placeholder="What's your email?" />
                  <a id="volunteer-submit" class="volunteer" style="padding: 10px; font-size: 10pt; cursor: pointer;">
                      Submit
                  </a>
                </div>
                <div id="volunteer-thanks" style="display: none;">
                  <br />
                  <span class="volunteer-thanks">Thanks!</span>
                </div>
            </div>

        </div>
    </div>
</section>
<script>
    $('.ui.accordion')
        .accordion()
    ;
</script>
<hr />
<section id="about">
    <div class="bcg">
        <img class="lightning_right" width="50%" src="/assets/img/about_lightning_bottom.png">
        <i class="fa fa-bolt" aria-hidden="true"></i>
        <div class="hsContainer">
            <div class="hsContent">
                <div class="title">
                    <h1>about</h1>
                </div>
            </div>
            <div class="white">
                <div class="content">
                    <p class="intro">MakeMIT is the world’s premiere hardware hackathon.</p>
                    <p>
                        With over 250 hackers and 3524 person-hours hacking hardware,
                        our fast-paced structure promotes an innovative creative atmosphere geared towards those who are excited and passionate about designing and building.
                        Come meet other enthusiastic hackers, work with cutting edge technology, and turn your crazy ideas into reality!
                        <br><br>This year, MakeMIT will be happening on February 24th, 2018 at the MIT Student Center, with a full week dedicated to tech talks and demos leading up to the main event called Make Week.
                        <br><br>
                        <b>
                            Check out <a href="https://makemit-2017.devpost.com/submissions" target="_blank">past projects</a> and a <a href="//www.youtube.com/watch?v=xAwjHPnb79E" target="_blank">recap</a> of last year's event!
                        </b>
                        <br />
                        <br />
                        <a class="past-projects-btn" href="https://makemit-2017.devpost.com/submissions">
                            PAST PROJECTS
                        </a> &nbsp; &nbsp;
                        <a class="recap-btn" href="https://www.youtube.com/watch?v=xAwjHPnb79E">
                            2017 RECAP
                        </a>
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="registration">
    <div class="bcg">
        <div class="hsContainer">
            <div class="hsContent">
                <div class="title">
                    <h1 class="rt">REGISTER</h1>
                </div>
                <div class="white">
                    <div class="content">
                        <p style="font-size: 22px;">
                            Registration for MakeMIT is open now! Click the button below
                            and keep an eye on our <a href="https://www.facebook.com/makemit">Facebook</a> and <a href="https://twitter.com/TeamMakeMIT">Twitter</a> for updates on
                            everything MakeMIT.
                        </p>
                        <!-- January 27th -->
                        <p id="regclose" style="font-size: 22px;">
                            Registration closes in <b>x days.</b>
                        </p>
                    </div>
                    <div class="portal-btn-pad">
                        <!-- <a class="register-btn" href="https://my.makemit.org/">
                            Register Here!
                        </a> -->
                    </div>
                </div>
                <!--<div class="ctc">-->
                <!--  Unfortunately, registration for MakeMIT 2017 has not opened yet. Keep an eye on our <a href="#">Facebook</a> and <a href="#">Twitter</a> for updates on everything MakeMIT.-->
                <!--</div>-->
            </div>
        </div>
    </div>
</section>

<section id="schedule">
  <div class="bcg">
    <img class="lightning_left" width="30%" src="/assets/img/day-of_lightning.png" alt="Lightning"/>
    <div class="hsContainer">
      <div class="hsContent">
        <h1>day-of</h1>
        <div id="schedule-items">
          <div class="item">
            <div class="header">7:00 am</div>
            <div class="description">Registration and Breakfast</div>
          </div>
          <div class="item">
            <div class="header">8:00 am</div>
            <div class="description">Opening Ceremony</div>
          </div>
          <div class="item">
            <div class="header">8:45 am</div>
            <div class="description">Hacking Begins</div>
          </div>
          <div class="item">
            <div class="header">12:00 pm</div>
            <div class="description">Lunch</div>
          </div>
          <div class="item">
            <div class="header">6:00 pm</div>
            <div class="description">Dinner</div>
          </div>
          <div class="item">
            <div class="header">11:00 pm</div>
            <div class="description">Heavy Tooling Ends</div>
          </div>
          <div class="item">
            <div class="header">12:00 am</div>
            <div class="description">Hacking Ends</div>
          </div>
          <div class="item">
            <div class="header">12-1 am</div>
            <div class="description">General Judging</div>
          </div>
          <div class="item">
            <div class="header">1:00 am</div>
            <div class="description">Top 10 Present</div>
          </div>
          <div class="item">
            <div class="header">1:30 am</div>
            <div class="description">Closing Ceremony</div>
          </div>
          <div class="item">
            <div class="header">2:00 am</div>
            <div class="description">End of Event</div>
          </div>
        </div>
        </br></br>
      </div>
    </div>
  </div>
</section>
<section id="faq">
    <div class="bcg">
        <img class="lightning_left lightning_border" width="45%" src="/assets/img/faq_lightning_left.png">
        <img class="lightning_right" width="30%" src="/assets/img/faq_lightning_right.png">
        <div class="hsContainer">
            <div class="hsContent">
                <h1 class="faqt">frequently asked <br> questions</h1>
                <div class="ui three column stackable page grid">
                    <div class="row">
                        <div class="column">
                            <h2>How does it work?</h2>
                            <p>Over a 19 hour period, you’ll work in a team of 3-5 hackers to make anything your heart desires! We’ll provide you with a bunch of prototyping resources and lots of food to keep you fueled. At the end of the night, we’ll have a judging period to choose the winners of Make 2018.
                            </p>
                        </div>
                        <div class="column">
                            <h2>What hardware will be available?</h2>
                            <p>There will be a fleet of 3D printers, laser cutters, Arduinos, Raspberry Pi’s, and much more. The 2017 materials list can be <a href="https://docs.google.com/spreadsheets/d/1hJJiNKyT_8tci7DVjad3xKUwCzUFqLI8qlFaobE643U/edit?usp=sharing" style="color:#f3c46f">viewed here</a>. If there’s something you want to see, feel free to send us an email and we’ll see what we can do!
                            </p>
                        </div>
                        <div class="column">
                            <h2>What size should teams be?</h2>
                            <p>Teams should be groups of 3-5 people. We encourage you to submit your application after you’ve finalized your team. If you already applied but wish to change your team, just contact us. While we recommend signing up as a team, also feel free to register alone! There will be a Facebook group and time before the event to facilitate team formation for individuals!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h2>Who can attend?</h2>
                            <p>All undergraduate students are welcome. While we aren’t accepting graduate students as makers, we would love to have graduate students as event volunteers! <a href="mailto:team@makemit.org" style="color:#f3c46f">Email</a> us to get involved.
                            </p>
                        </div>
                        <div class="column">
                            <h2>Are you providing travel reimbursements?</h2>
                            <p>We have a limited number of travel stipends available for teams facing difficult circumstances. If you believe your team falls under this category, send us ONE <a href="mailto:team@makemit.org" style="color:#f3c46f">email</a> explaining your situation and why your team should be considered.
                            </p>
                        </div>
                        <div class="column">
                            <h2>What should I bring?</h2>
                            <p>You’ll need your student ID to check in and we recommend that you bring a laptop. If you’d like to bring something off-the- shelf that we are not providing, make sure to shoot us an <a href="mailto:team@makemit.org" style="color:#f3c46f">email</a>!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h2>What’s the expo?</h2>
                            <p>Right after the hacking period ends, we will host a public expo where teams can show off their hacks to friends, family, professors, corporate sponsors, and anyone else in attendance! Anyone not participating is encouraged to stop by to enjoy some snacks and check out all of the cool projects.
                            </p>
                        </div>
                        <div class="column">
                            <h2>I'm a beginner. Can I still apply?</h2>
                            <p>Absolutely! We encourage makers of all levels to come build and learn! We’ve got tons of mentors and we really focus on catering to newcomers’ needs by providing tutorials and online resources. We are extremely beginner friendly!
                            </p>
                        </div>
                        <div class="column">
                            <h2>Can I keep what I make?</h2>
                            <p>Generally, yes! However, some components will need to be returned at the end of the event.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h2>How much does it cost?</h2>
                            <p>This event is completely free! We’ll provide food and drinks in addition to a plethora of materials and tools for all hackers. Everything’s on us!
                            </p>
                        </div>
                        <div class="column">
                            <h2>What should I make?</h2>
                            <p>Whatever you want! You can come with an idea in mind, but we ask that you do not start building or coding anything before the event actually starts. But with whatever you choose to make, do your best to sell your ideas to the judges!
                            </p>
                        </div>
                        <div class="column">
                            <h2>How does judging work?</h2>
                            <p>Judges will base their ratings of the projects on three criteria: functionality, real-world potential, and just plain awesomeness. 10 teams will be invited to present at the end of the expo, and 3 winning teams will be selected from this pool!
                            </p>
                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--<div style="height: 10vw;">-->
                    <!--    <h2>I have a question not listed. Who do I ask?</h2>-->
                    <!--    <div>Get in touch with us through <a href="https://www.facebook.com/makemit">facebook</a>,-->
                    <!--      <a href="https://twitter.com/TeamMakeMIT">twitter</a>, or <a href="mailto:team@makemit.org">email</a>!-->
                    <!--    </div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="otherq">Other Questions?</div>
                <div class="otherqt">
                    Shoot us an <a href="mailto:team@makemit.org">email</a> or message us on <a href="https://www.facebook.com/makemit/" target="_blank">facebook</a>!
                </div>

            </div>
        </div>
    </div>
</section>
<section id="sponsors">
    <div class="bcg">
        <img class="lightning_right lightning_border" width="60%" src="/assets/img/sponsors_lightning.png">
        <div class="hsContainer">
            <div class="hsContent">
                <h1>2018 sponsors</h1>
                <div id="sponsors-grid" class="ui one column grid">
                    <div class="column">

                        <br><br><br>

                        <!-- <div class="row">
                            <div id="platinum" class="ui one column center aligned grid">
                                <div class="row">
                                    <div class="column"> -->
                                        <!--<a target="_blank" href="https://www.clearmotion.com/"><img src="/assets/img/sponsors/PLATINUM-clearmotion.png" alt="ClearMotion"/></a>--!>
                                        <br>
                                        <!--<div class="caption">ClearMotion is a venture-backed Boston area startup spun out of MIT in 2009. ClearMotion is the world’s first ultra-active chassis system.  With powerful, fast-acting software and actuators at each wheel, ClearMotion replaces the car’s shock absorbers and delivers an experience unlike anything you’ve witnessed. ClearMotion is a digital ride system that virtually eliminates the perception of road bumps while enabling unprecedented performance handling. The software and mechatronics technology has broad application across motion control industries including aviation, transportation, industrial manufacturing, and robotics.</div>-->
                                    <!-- </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <br><br><br><br> -->

                        <div class="row">
                            <div id="gold" class="ui two column center aligned grid">
                                <div class="column">
                                    <a target="_blank" href="http://solidworks.com/"><img src="/assets/img/sponsors/GOLD-SolidworksLogo.png" alt="Solidworks"/></a>
                                    <br>
                                    <div class="caption">Dassault Systèmes SOLIDWORKS Corp. offers complete 3D software tools that let you create, simulate, publish, and manage your data. SOLIDWORKS products are easy to learn and use, and work together to help you design products better, faster, and more cost-effectively. The SOLIDWORKS focus on ease-of-use allows more engineers, designers and other technology professionals than ever before to take advantage of 3D in bringing their designs to life.</div>
                                </div>
                                <div class="column">
                                    <a target="_blank" href="http://www.8020.net/"><img src="/assets/img/sponsors/SILVER-8020.png" alt="8020"/></a>
                                    <br>
                                    <div class="caption">80/20 Inc. is the originator and manufacturer of “The Industrial Erector Set®,” a modular aluminum framing system for every industry or application. From light to heavy-duty, 80/20 modular framing is a perfect solution for machine frames, guarding, enclosures, displays, workstations and the DIY home hobbyist. With a catalog of over 8,000 products to choose from, free design assistance and value-add support, 80/20 Inc. will ensure your project is completed to the highest standards.</div>
                                </div>
                                <br><br>
                                <div class="column">
                                    <a target="_blank" href="https://www.airliquide.com/"><img src="/assets/img/sponsors/GOLD-air-liquide.svg" alt="AirLiquide"/></a>
                                    <br>
                                    <div class="caption">The world leader in gases, technologies and services for Industry and Health, Air Liquide is present in 80 countries with approximately 65,000 employees and serves more than 3 million customers and patients. Oxygen, nitrogen and hydrogen are essential small molecules for life, matter and energy. They embody Air Liquide’s scientific territory and have been at the core of the company’s activities since its creation in 1902.</div>
                                    <!--<div class="caption">Schlumberger employs more than 95,000 people representing over 140 nationalities and working in more than 85 countries. With 125 research and engineering facilities worldwide, we place strong emphasis on developing innovative technology that adds value for our customers.-->

                                    <!--Schlumberger Software Technology is responsible for the company’s initiatives in digital technologies. As the oil and gas industry’s leading supplier of technology, integrated project management, and information solutions to customers worldwide, Schlumberger digital technology development and management initiatives play a key role in driving of the industry’s digital technology transformation.-->
                                    <!--</div>-->
                                </div>
                                <div class="column">
                                    <a target="_blank" href="http://www.nvidia.com/page/home.html"><img src="/assets/img/sponsors/GOLD-nvidia.png" alt="Nvidia"/></a>
                                    <br>
                                    <div class="caption">NVIDIA has continuously reinvented itself over two decades. Our invention of the GPU in 1999 sparked the growth of the PC gaming market, redefined modern computer graphics, and revolutionized parallel computing. More recently, GPU computing ignited the era of AI.  NVIDIA is a “learning machine” that constantly evolves by adapting to new opportunities that are hard to solve, that only we can tackle, and that matter to the world. Our life’s work is to amplify human imagination and intelligence.</div>
                                </div>
                                <br><br>
                                <div class="column">
                                    <a target="_blank" href="http://www.verizon.com/"><img src="/assets/img/sponsors/GOLD_VerizonLogo.png" alt="Verizon"/></a>
                                    <br>
                                </div>
                                    <!--<div class="caption">Nexpaq is the modular technology movement. nexpaq creates phone cases, power banks, and other modular devices to extend the hardware and software capabilities of existing devices. As a maker platform and IOT ecosystem, nexpaq allows tech businesses and individual developers to build their own nexpaq module and write apps for existing modules.-->
                                    <!--</div>-->
                                <!--</div>
                            </div>
                        </div>

                        <br><br><br><br><br><br>

                        <div class="row">
                            <div id="silver" class="ui one column center aligned grid">
                                <div class="row">
                                    <div class="column">
                                        <a target="_blank" href="http://www.ti.com/"><img src="/assets/img/sponsors/SILVER-TexasInstruments.png" alt="TexasInstruments"/></a>
                                        <a target="_blank" href="http://www.apple.com/"><img src="/assets/img/sponsors/GOLD-apple.png" alt="Apple"/></a>
                                        <a target="_blank" href="https://ultimaker.com/"><img src="/assets/img/sponsors/SILVER-UltimakerLogo.png" alt="Ultimaker"/></a>
                                    </div>
                                    <!--<div class="column">
                                        <a target="_blank" href="https://www.8020.net/"><img src="/assets/img/sponsors/SILVER-8020.png" alt="8020"/></a>
                                        <a target="_blank" href="https://www.jibo.com/"><img style="width: 20%" src="/assets/img/sponsors/SILVER-Jibo.png" alt="Jibo"/></a>
                                        <a target="_blank" href="http://3dprinter.dremel.com/"><img src="/assets/img/sponsors/SILVER-Dremel.png" alt="Dremel"/></a>
                                    </div>
                                    <div class="column">
                                      <a target="_blank" href="https://www.particle.io/"><img src="/assets/img/sponsors/SILVER-particle.png" alt="Particle"/></a>
                                      <a target="_blank" href="http://www.raytheon.com/"><img src="/assets/img/sponsors/SILVER-Raytheon.png" alt="Raytheon"/></a>
                                      <a target="_blank" href="http://en.wiiboox.net/"><img style="width: 23%;" src="/assets/img/sponsors/SILVER-wiiboox.png" alt="Wiiboox"/></a>
                                    <!--</div>-->
                            </div>
                        </div>

                        <br><br><br><br>

                        <div class="row">
                            <div id="bronze" class="ui one column center aligned grid">
                                <div class="row">
                                    <div class="column">
                                        <a target="_blank" href="https://www.ll.mit.edu/"><img src="/assets/img/sponsors/BRONZE-lincolnlabs.png" alt="Lincoln Labs"/></a>
                                        <!--<a target="_blank" href="http://www.rxadvance.com/"><img src="/assets/img/sponsors/BRONZE-rxadvance.png" alt="RxAdvance"/></a>
                                        <a target="_blank" href="http://www.ti.com/"><img src="/assets/img/sponsors/BRONZE-ti.png" alt="TI"/></a>-->
                                    </div>
                                    <!--<div class="column">
                                        <a target="_blank" href="http://us.coca-cola.com/home/"><img src="/assets/img/sponsors/BRONZE-coca-cola.png" alt="Coca-Cola"/></a>
                                        <a target="_blank" href="http://www.ptc.com/"><img src="/assets/img/sponsors/BRONZE-ptc.png" alt="PTC"/></a>
                                        <a target="_blank" href="http://www.mouser.com/"><img src="/assets/img/sponsors/BRONZE-mouser.png" alt="Mouser"/></a>
                                    </div>
                                    <div class="column">
                                        <a target="_blank" href="http://www.samsung.com/us/"><img src="/assets/img/sponsors/BRONZE-Samsung.png" alt="Samsung"/></a>
                                        <a target="_blank" href="http://www.foodnetwork.com/"><img style="width: 8%" src="/assets/img/sponsors/BRONZE-Food-Network.png" alt="Food Network"/></a>
                                        <a target="_blank" href="http://www.magnemotion.com/"><img src="/assets/img/sponsors/BRONZE-Rockwell_Automation.png" alt="Rockwell Automation"/></a>
                                    </div>-->
                                </div>
                            </div>
                        </div>

                        <br><br><br><br>

                        <div class="row">
                            <div id="custom" class="ui one column center aligned grid">
                                <div class="row">
                                    <div class="column">
                                        <a target="_blank" href="http://www.irobot.com/"><img src="/assets/img/sponsors/CUSTOM-irobot.png" alt="iRobot"/></a>
                                        <a target="_blank" href="https://www.paperspace.com/"><img src="/assets/img/sponsors/CUSTOM-PaperspaceLogo.png" alt="Paperspace"/></a>
                                        <a target="_blank" href="http://www.stratasys.com/"><img src="/assets/img/sponsors/CUSTOM-StratasysLogo.png" alt="Stratasys"/></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                      <a target="_blank" href="https://www.righthandrobotics.com/"><img src="/assets/img/sponsors/CUSTOM-rrr.png" alt="Righthand Robotics"/></a>
                                      <a target="_blank" href="https://www.soylent.com/"><img style="width: 8%" src="/assets/img/sponsors/CUSTOM-soylent.png" alt="Soylent"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="bcg">
        <div class="hsContainer">
            <div class="hsContent">
                <div style="padding-top: 5vw;" class="logo"><img width="200" src="/assets/img/logo-white.png" alt="MakeMIT Logo"/>
                </div>
                <h1 style="padding-top: 2vw;">Make<span id="accent">MIT 2018</span></h1>
                <div class="contact-buttons">
                    <a href="mailto:team@makemit.org"><i class="mail icon"></i></a><a href="https://www.facebook.com/makemit" class="social" target="_blank"><i class="ui icon facebook"></i></a><a href="https://twitter.com/TeamMakeMIT" class="social" target="_blank"><i class="ui icon twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function() {
// Tooltip only Text
        $('.masterTooltip').hover(function(){
            // Hover over code
            var title = $(this).attr('title');
            $(this).data('tipText', title).removeAttr('title');
            $('<p class="tooltip"></p>')
                .text(title)
                .appendTo('body')
                .fadeIn('slow');
        }, function() {
            // Hover out code
            $(this).attr('title', $(this).data('tipText'));
            $('.tooltip').fadeOut('fast');
        }).mousemove(function(e) {
            var mousex = e.pageX + 20; //Get X coordinates
            var mousey = e.pageY + 10; //Get Y coordinates
            $('.tooltip')
                .css({ top: mousey, left: mousex })
        });
    });
</script>
</body>
</html>
